<% provide :title, t("carts.shopping_title") %>
<section class="main-container col1-layout">
  <div class="main container">
    <div class="col-main">
      <div class="cart">
        <div class="page-content page-order">
          <div class="page-title">
            <h2><%= t "carts.shopping_title" %></h2>
          </div>
          <%= render "shopping_cart" %>
        </div>
      </div>
    </div>
  </div>
</section>
