<div id = 'new-review'>
    <%= render @item.reviews %>
</div>

<script>
   	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>


<script>
 $('.review-rating').raty({
   readOnly: true,
   path: '/assets/', 
   score: function() {
     return $(this).attr('data-score');
   }
 });
</script>

